<%- include('../partials/headers') %>
<% if (user) { %>
<% users.forEach(function(user) { %>
    <ul>
    <div class="ul">
<li class="user-name"><%= user.name %></li>
    <% user.gifts.forEach(function(gift) { %>
    <li class="user-gifts"><%= gift.gift %></li>
    <li id="detail"><a href="/users/gift/<%= gift._id %>">Detail</a></li>
    <li>
        <form class="delete-form" action="/users/<%= user._id %>?_method=DELETE" method="POST">
            <button class="button" type="submit">X</button>
    </li>
    <% }) %>
</ul>
<% }) %>
<a href="/users<%= user._id %>">
    <%= users.name %>
</div>
    <% } %>
    <%- include('../partials/footers') %>