 <%- include('../partials/headers') %>
 <table id="list">
     <thead>
         <th>User: </th>
         <th>Gifts: </th>
     </thead>
     <tbody>
         <td><%= users.name %></td>
         <td><%= gifts.gift %></td>
     </tbody>
 </table>

 <table>
     <thead>
         <th>Store name:</th>
         <th>Store Location:</th>
         <th>Price:</th>
     </thead>
     <% storeList.forEach(function(s) {%>
        <tr>
            <tbody>
                <% if(id === s._id) { %> 
                <td><%= s.name %></td>
                <td><%= s.location %></td>
                <td><%= s.price %></td>
                <% }  %>
            </tbody>
        </tr>
     <% }) %>
 </table>
 <%- include('../partials/footers') %>