 <%- include('../partials/headers') %>
 <table id="list">
     <thead>
         <th>User: </th>
         <th>Gifts: </th>
     </thead>
     <tbody>
         <td><%= user.name %></td>
         <td><%= currentGift.gift %></td>
     </tbody>
 </table>

 
 <table>
     <thead>
         <th><a href="/users/<%= currentGift._id %>/stores/new">Stores:</a></th>
         <th>Store Location:</th>
         <th>Price:</th>
     </thead>
     <% currentGift.storeIds.forEach(function(s) {%>
        <tr>
            <tbody>
                <td><%= s.name %></td>
                <td><%= s.location %></td>
                <td><%= s.price %></td>
            </tbody>
        </tr>
     <% }) %>
 </table>
 <%- include('../partials/footers') %>